.title-light {
  color: #6B705C;
}

.card-bg-light {
  background-color: #B7B7A4;
}

.card-bg-done {
  background-color: #B7B7A4;
}

.card-text-light {
  color: #464A3A;
}

.placeholder-light {
  color: #6B705C;
}

.svg-header-light {
  fill: #6B705C
}

.svg-icon-light {
  opacity: .6;
}