.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


h1, h2 {
  font-family: 'Bellefair', serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes addList {
  0% {transform: translateY(-20%); 
    opacity: 0;}
  100% {transform: none; opacity: 1;}
}

.add-list {
  animation: addList .3s;
}

@keyframes removeList {
  0% {transform: translateY(+10%); 
    opacity: 1;}
  100% {transform: translateY(+20%); opacity: 0;}
}

.remove-list {
  animation: removeList .5s;
  visibility: hidden;
  height: 0;
  z-index: -4;
  margin: 0;
}


.tab {
  /* position: absolute; */
  width: 80%;
  height: 100vh;
  border: 3px solid rgba(0, 0, 0, .1);
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
  border-radius: 4rem;
  margin-top: 10rem;;

}